
// $body-bg:#0F0F0F;
$first-color:rgba(228, 255, 103, 0.78);
$first-color2:rgba(228, 255, 103, 1);
$first-color3:rgba(228, 255, 103, 0.38);
$last-color:rgba(255, 255, 255, 1);
$second-color:rgba(255, 255, 255, 0.07);

